body {
    background: url('../ND.svg') no-repeat center center fixed;
    margin: 0;
    padding: 0 20px;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url('../fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
         url('../fonts/PPNeueMontreal-Medium.woff') format('woff'),
         url('../fonts/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'PPNeueMontreal-Book';
    src: url('../fonts/PPNeueMontreal-Book.woff2') format('woff2'),
         url('../fonts/PPNeueMontreal-Book.woff') format('woff'),
         url('../fonts/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueMontreal-Bold';
    src: url('../fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
         url('../fonts/PPNeueMontreal-Bold.woff') format('woff'),
         url('../fonts/PPNeueMontreal-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueMontreal-Thin';
    src: url('../fonts/PPNeueMontreal-Thin.woff2') format('woff2'),
         url('../fonts/PPNeueMontreal-Thin.woff') format('woff'),
         url('../fonts/PPNeueMontreal-Thin.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}

  input::placeholder,
  #tipAmount::placeholder {
    font-family: 'PPNeueMontreal-Thin', monospace;  
    color: #38A8A3;
  }


  .step-label {
    font-family: 'PPNeueMontreal-Book', monospace;
    /* Add any additional styles you want for this text */
    font-size: 16px;
    color: #333;
    margin-bottom: 0px;
    border-radius: 5px 0px 0px 5px;
  }
h1 {
    text-align: center;
    color: white;
    font-family: 'PPNeueMontreal-Bold', monospace;  
    font-size: clamp(13px, 5vw, 35px); /* Fluid typography */
    margin: 0;
    padding: 20px 20px 5px; /* Top, left/right, bottom padding */
    background-color: transparent; /* Explicitly set to transparent */
    z-index: 1000; /* Ensure it stays on top of other content */
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 .right-side-image {
    width: clamp(35px, 10vw, 50px); /* Fluid image size */
    height: auto;
    margin-left: 5px;
    vertical-align: middle;
}

/* Add this rule to ensure no other styles are overriding */
img.right-side-image {
    max-width: clamp(35px, 10vw, 50px);
    width: clamp(35px, 10vw, 50px);
}

h2 {
    font-family: 'PPNeueMontreal-Medium', monospace;  
    font-size:115px;
    margin-left: 100px; /* Remove left margin */

    color: 131e20; 

}
p {
    font-family: 'PPNeueMontreal-Medium', monospace;  
    font-size:15px;
    color: #131e20; 
}
.box-wrapper {
    margin-top: 10px;
    border: 2px solid #7FAFB1;
    border-radius: 24px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 5px auto;
    background-color: #EFFEFC;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    padding: 20px;
    position: relative;
    gap: 5px; /* Uniform 5px gap */
}

.box {
    border: none; /* Remove the existing border */
    margin-left: 0; /* Remove left margin as it's now handled by the wrapper */
    margin-top: 0px;
    margin-right: 0; /* Remove auto margin */
    margin-bottom: 0px;
    padding: 0ex;
    color: #262626;  
    font: 1.3rem 'PPNeueMontreal-Thin', monospace;  
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    gap: 5px; /* Uniform 5px gap */
}

a {
    font-family: 'PPNeueMontreal-Book', monospace;  
    font-size: 15px;
    color: #01A09C;
    margin-top: 5px;
    margin-bottom: 10px;
    align-self: center;
}

.button-style-1 {
    background-color: #08D482;
    font-family: 'PPNeueMontreal-Book', monospace;  
    color: #191B24;
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    width: 300px; /* Make the button span the full width of its container */
    margin-top: 5px; /* Change from 20px to 12px */
    display: block; /* Changed from inline to block */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    transition: background-color 0.3s ease; /* Add smooth transition */
}

.button-style-1:hover {
    background-color: #025552; /* Darker shade for hover effect */
    color: #88FFEC;
}

.button-style-2 {
    background-color: #191B24;
    font-family: 'PPNeueMontreal-Book', monospace;  
    color: #D4D8E3;
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    width: 300px; /* Make the button span the full width of its container */
    margin-top: 5px; /* Change from 20px to 12px */
    display: block; /* Changed from inline to block */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    transition: background-color 0.3s ease; /* Add smooth transition */
}

.button-style-2:hover {
    background-color: #025552; /* Darker shade for hover effect */
    color: #88FFEC
}

.button-style-3 {
    background-color: #08D482;
    font-family: 'PPNeueMontreal-Book', monospace;  
    color: #191B24;
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    width: 300px; 
    margin-top: 5px; /* Change from 10px to 12px */
    display: block; /* Changed from inline to block */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    transition: background-color 0.3s ease; /* Add smooth transition */
}

.button-style-3:hover {
    background-color: #025552; /* Darker shade for hover effect */
    color: #88FFEC;
}

.button-style-3:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.button-style-3:disabled:hover {
    background-color: #cccccc; /* Keep the disabled color on hover */
}

.contest-address-style {
    color: #165863; /* Set the color you prefer */
    font-size: 16px; /* Example: set font size */
    /* Add other styling as needed */
}
.title-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px; /* Adjust this value to control the distance from the top */
    background-color: transparent; /* Add this if you want to ensure visibility over other content */
}

img {
    text-align: center;
    flex: 1; /* Allows the title to grow and take necessary space */
    margin-right: 20px; /* Adds some space between the title and the image */
    width: 20px;
}
#_queryId {
    font-size: 20px; /* Smaller font size for mobile */
    padding: 10px; /* Larger padding for better touch interaction */
    width: 400px; /* Full width to utilize screen space */
    color: #008D8B; /* Dark gray text color */
    border: 1px solid #7FAFB1; /* Dark gray text color */
    border-radius: 12px /* Dark gray text color */
}
#_queryId:not(:placeholder-shown) {

    color: #008D8B;; /* Dark gray text color */

}
#stakeAmount {
    font-size: 20px; /* Smaller font size for mobile */
    padding: 10px; /* Larger padding for better touch interaction */
    width: 400px; /* Full width to utilize screen space */
    color: #008D8B; /* Dark gray text color */
    border: 1px solid #7FAFB1; /* Dark gray text color */
    border-radius: 0px 12px 12px 0px; /* Dark gray text color */
    margin-top: 12px;
}

#tipAmount {
    font-size: 20px; /* Smaller font size for mobile */
    padding: 10px; /* Larger padding for better touch interaction */
    width: 400px; /* Full width to utilize screen space */
    color: #008D8B; /* Dark gray text color */
    border: 1px solid #7FAFB1; /* Dark gray text color */
    border-radius: 0px 12px 12px 0px /* Dark gray text color */
}

/* Add this new style for general content alignment */
.content-wrapper {
    max-width: 1200px; /* Or any suitable max-width */
    margin: 0 auto; /* Center the wrapper */
    padding: 0 20px; /* Add some padding */
}

.input-with-label {
    width: 100%; /* Make the input container take full width */
    max-width: 400px; /* Limit maximum width */
    display: flex;
    justify-content: center; /* Center the input and label horizontally */
    margin-bottom: 5px; /* Change from 10px to 12px */
    border-radius: 0px 5px 5px 0px;
}
input {
    background-color: #f0f0f0; /* Light gray background */
    color: #C4EDEB;; /* Dark gray text color */
    border: 1px solid #7FAFB1; /* Light gray border */
    height: 23px;
    border-radius: 5px 5px 5px 5px;
}

input:not(:placeholder-shown) {
    color: black; /* This is the color when the input has text */
}

.centered-input:not(:placeholder-shown) {
    color: black; /* Color when has text */
}

.input-label {
    white-space: nowrap;
    background: #f0f0f0;
    height: 43px;
    color: #191b24;
    border: 1px solid #7FAFB1;; /* Dark gray text color */
    text-align: center;
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin-right: -2px;
    margin-top: 12px; /* Change from 10px to 12px */
    border-radius: 12px 0px 0px 12px;
}

.input-label-2 {
    white-space: nowrap;
    background: #f0f0f0;
    height: 43px;
    color: #131e20;
    border: 1px solid #7FAFB1;; /* Dark gray text color */
    text-align: center;
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin-right: -2px;
    margin-top: 0px;
    border-radius: 12px 0px 0px 12px;
    width: 30px;
}

.deposit-limit {
    font-size: 12px;
    margin-left: auto; /* Pushes the deposit limit to the right */
    color: #131e20;
}

.step-label {
    position: relative;
  }
  .info-icon {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #165863;
    font-size: 16px;
  }
  .tooltip {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    max-width: 200px;
    right: -220px;
    top: 50%;
    transform: translateY(-50%);
    
    /* Add these properties to modify the font style */
    font-family: 'PPNeueMontreal-Book', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
  }

  /* Style for links within tooltips */
  .tooltip a {
    color: #165863;
    text-decoration: underline;
  }

  .tooltip a:hover {
    text-decoration: none;
  }

@media (max-width: 400px) {
    h1 {

        font-size: clamp(13px, 6vw, 35px); /* Fluid typography */
       
    }

    .box-wrapper {
        padding: 20px;
        width: 90%;
        max-width: 350px;
        margin-left: -5px;
    }

    .button-style-2 {
        width: 100%;
        font-size: 20px;
        padding: 10px;
    }

    .box {
        padding: 10px;
        width: 100%;
        margin-top: 0;
    }
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px; /* Add space for the Connect Wallet button */
}

#connectButton {
    background-color: #08D482;
    font-family: 'PPNeueMontreal-Book', monospace;  
    color: #191B24;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#connectButton:hover {
    background-color: #025552;
    color: #88FFEC;
}

#walletAddress {
    font-family: 'PPNeueMontreal-Book', monospace;
    font-size: 14px;
    color: #131e20;
    margin-top: 10px;
}

input {
    
    width: 50%; /* Full width on mobile */
    max-width: none; /* Remove max-width constraint on mobile */

}
